
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark p-md-3 mb-5">
        <div class="container">        
          <a class="navbar-brand" href="/">Playeras</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar_menu" id="navbarNav">
            <div class="mx-auto"></div>
            <ul class="navbar-nav navbar_menu">
              <li class="nav-item">
                <a class="nav-link " href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#portfolio">Novedades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/nosotros">Nosotros</a>
              </li>   			        
              <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
              </li>                             
            </ul>       
          </div>       
        </div>
      </nav>